@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primaryColor: #2c2528;
    
    --font-family-base: 'Poppins', sans-serif;
    --font-size-base: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body {
    font-family: var(--font-family-base);
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-weight: 400;
    font-style: normal;
  }
  
  nav {
    background-color: #ce6301;
    /* background-color: #1d7150; */
    border-bottom: 1px solid #ddd;
    height: 110px;
  }

  /* color  */
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    padding-bottom: 0px;
    
  }
  
  .logo img {
    margin: 0 !important;
    padding: 0 !important;
    width: 135px;
    height: 109px;
  }
  
  .nav-links, .search {
    display: flex;
    gap: 40px;
  }
  
  .nav-links a, .search a {
    text-decoration: none;
    letter-spacing: 0.01em;
    color: #ffffff;
    font-weight: 700;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: yellow;
  }
  
  .mini-nav {
    background-color: #fafafa;
    border-bottom: 1px solid #ddd;
    padding: 10px 20px 10px 20px;
    height: 50px;
  }
  
  .icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
  .icon {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
  }
  
.icon-text{
  font-size: 0.9em;
  
}
  
  .icons i{
    font-size: 1.05em;
    color: var(--hover-color);
    margin-right: 12px;
  }

  /* Ensure hero
/* Style the hero images */
/* Ensure hero section doesn't touch the navbar */
.hero {
  margin-top: 50px; /* Adjust the value as necessary */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 670px; /* Ensure the hero section matches the image height */
}

.hero-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none; /* Initially hide all slides */
}

.hero-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 50px;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  font-size: 3.5em; /* High font size */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.2); /* Add some text shadow for better readability */
  max-width: 50%; /* Adjust as needed */
}

.hero img {
  width: 100%;
  height: 100%;
  display: block; /* Ensure images are displayed as block elements */
  object-fit: cover; /* Ensure the image covers the area */
}

.fa-arrow-right,
.fa-arrow-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ce6301;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.fa-arrow-right {
  right: 20px;
}

.fa-arrow-left {
  left: 20px;
}

.hero-slide.active {
  display: flex; /* Show the active slide */
}

.shop-now{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 50%);
  color: rgb(255, 255, 255);
  background-color: #ce6301;
  font-size: 1.8em; /* High font size */
  border-radius: 50px;
  padding: 10px 30px;
  max-width: 50%; /* Adjust as needed */
  font-family: 'Montserrat', monospace;
  font-weight: 600;
  border: none;
}

.shop-now:hover{
  color: #ce6301;
  background-color: #ddd;
}


.welcom{
  margin-top: 50px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para{
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.para h2{
  font-size: 2.5rem;
  letter-spacing: 0.1pc;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 420;
}

.para p{
  padding: 10px;
  padding-top: 5px;
  font-size: 1.3em;
  margin-bottom: 0px;
  text-align: center;
}

.shop-all{
  border: none;
  text-decoration: none;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-weight: 380;
  color: #5f360f;
  font-size: 1.2em;
  padding: 3px 5px;
}

/* collection list */
.headingList{
  margin-top: 0px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  
}

.headingList h3, .heading-sale-items h1{
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 380;
}

.categories{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 350px); /* Four columns */
  grid-template-rows: 320px 320px; /* Two rows with specific height */
  gap: 50px; /* Adjust the gap between grid items */
  margin-bottom: 10px ;
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 100%; /* Ensures each container fills the grid cell */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire container */
  border-radius: 10px;
}

.image-container div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 5px;
  text-align: center;
}

.image-container div p {
  margin: 0;
  font-size: 1.2rem; /* Adjust the font size as necessary */
  font-weight: 420;
}

/* sale items - h1 , links covered above */
.shop-view{
  margin-right: 10px;
}

.heading-sale-items{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.items-grid{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 320px); /* Four columns */
  grid-template-rows: 320px; /* Two rows with specific height */
  gap: 5px; /* Adjust the gap between grid items */
  margin-bottom: 10px ;
  
}

.item {
  width: 300px; /* Adjust as necessary */
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px; /* Adjust as necessary */
  margin-bottom: 60px;
}

.item img {
  width: 100%;
  height: 200px; /* Adjust as necessary */
  object-fit: cover;
}

.rest-details-sale-item {
  padding: 15px;
  text-align: center;
}

.before-price {
  font-size: 1.2rem; /* Adjust as necessary */
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}

.sale-item-description {
  font-size: 1rem; /* Adjust as necessary */
  color: #555;
  margin: 10px 0;
}

.weight {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.weight button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.weight button:hover {
  background-color: #ddd;
}

.qty-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  gap: 5px;
}

.qty-counter button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 5px 7px;

  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1rem; /* Adjust as necessary */
}

.qty-counter button:hover {
  background-color: #e65b50;
}

.qty-counter input[type="number"] {
  width: 40px;
  padding: 3px 0px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; /* Adjust as necessary */
}

.qty-counter .plus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.qty-counter .plus i {
  font-size: 1rem; /* Adjust as necessary */
}


.cart-sale {
  display: inline-block;
  background-color: #ffa061;
  color: white;
  border: none;
  padding: 8px 48px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Adjust as necessary */
  transition: background-color 0.3s;
}

.cart-sale:hover {
  background-color: #e65b50;
}


/* recipies + blogs */
.recipes, .blog-container{
  margin-top: 0px;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-container, .read{
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: 1fr;
  gap: 20px;
}

.recipe-descrp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.article, .blog{
  width: 420px;
  height: 600px;
}

.article img{
  width: 100%;
  height: 580px;
}

.recipe-title{
  font-size: 1.1em;
  font-weight: 420;
  margin-top: 5px;
  margin-bottom: 20px;
}

.recipe-link{
  text-decoration: none;
  font-size: 0.9em;
  color: #555;
  text-transform: lowercase;
  border: 1px solid black;
  padding: 7px 15px;
}
/* footer */
footer {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 20px 0; /* Padding top and bottom */

}

.footer-container {
  max-width: 1200px; /* Maximum width of the container */
  margin: 0 auto; /* Center align the container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.links ul {
  list-style-type: none; /* Remove default list style */
  padding: 0;
  margin: 0;
}

.links li {
  display: inline-block;
  margin-right: 20px; /* Space between list items */
}

.links a {
  color: #fff; /* Link text color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Font weight */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.links a:hover {
  color: #ffd700; /* Change color on hover */
}

.social-media a {
  color: #fff; /* Icon color */
  font-size: 1.5rem; /* Icon size */
  margin-right: 10px; /* Space between social media icons */
  text-decoration: none; /* Remove underline */
}

.social-media a:hover {
  color: #ffd700; /* Change icon color on hover */
}




/* space + free classes */
.empty{
  width: 100%;
  height: 50px;
}
